<div class="covering">
  <div class="dashboard">
    <div class="heading">Welcome to Student Hub</div>
  </div>

  <div class="link"><%= studentname %>'s Dashboard</div>

  <div class="dotcovering">
    <div class="course">Number of Courses : <%= coursesCount %></div>
    <div class="course">Number of Expenses : <%= expensesCount %></div>
    <div class="duedate">Number of Events : <%= eventsCount %></div>
    <div class="duedate">
      Number of Blogs Created by you : <%= blogsCount %>
    </div>
  </div>
</div>
